.projectAddPopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;

}

.projectAddpopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 50vw;
    max-width: 90%; 
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.projectAddCloseBtn{
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

.addName{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(179, 179, 179);
    padding-bottom: 15px;
}

.projectAddTagContainer{
    margin-top: 50px;
}

.addTag{
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid rgb(179, 179, 179);
    padding-bottom: 15px;
    padding: 10px;
}

.addTag:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(179, 179, 179);
}

.addTagDescription{
    font-size: 18px;
    color: rgb(179, 179, 179);
    margin-top: 10px;
}

.addTagContainer{
    display: blox;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    height: 17vh;
    background-color: rgb(248, 234, 218);
    border-radius: 15px;
    padding: 15px;
    overflow-y: auto;
}

.tag{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid rgb(180, 72, 0);
    display: inline-block;
    margin: 5px 10px 10px 0; 
}

.removeTag{
    margin-left: 15px;
    color: rgb(180, 72, 0);
    cursor: pointer;
}

.exampleTag{
    font-size: 18px;
    color: rgb(179, 179, 179);
    margin-top: 10px;
}

.exampleRemoveTag{
    margin-left: 15px;
    color: rgb(180, 72, 0);
}

.tagMargin{
    margin-top: 10px;
}

.tagNotice{
    margin-top: 20px;
    color: rgba(43, 80, 243, 0.973);
}

.inviteContainer{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.addInviteBtn{
    font-size: 35px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.addProjectBtnContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.addProjectBtn{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(212, 125, 25);
    border: rgb(212, 125, 25);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.addProjectBtn:hover{
    background-color: rgb(177, 99, 11);
}