.container {
    display: flex;
    width: 100vw; 
    height: 100vh;
}

.left {
    flex-basis: 5vw;
    background-color: #f1c097;
}

.left-container{
    display: flex;
    justify-content: center;
}

.middle {
    flex-basis: 20vw;
    background-color: #ebd8ca;
}

.right {
    flex-basis: 75vw;
    background-color: #f5ede8;
}
